<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Reception de votre candidature</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; padding: 20px;">
<img src="cid:logo" alt="Logo" width="300" />
<h1 style="color: #0e3b75;">Bienvenue sur OptiRH !</h1>
<h2>Nous avons bien reçu votre candidature </h2>
<p>Merci pour votre interet pour l'offre. Nous sommes en train de l'examiner et nous reviendrons vers vous sous peu.</p>
<p>Cordialement,</p>
<p>L equipe OptiRH</p>
<a href="https://www.optirh.tn"
   style="background-color: #0e3b75; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
    Visitez notre site
</a>
</body>
</html>
