<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Email de Bienvenue</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; padding: 20px;">
<img src="cid:logo" alt="Logo" width="300" />
<h2 style="color: #0e3b75;">Bienvenue sur OptiRH !</h2>
<p>Merci d'avoir rejoint notre plateforme.</p>
<p>Nous sommes ravis de vous accueillir.</p>
<a href="https://www.optirh.tn"
   style="background-color: #0e3b75; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
    Visitez notre site
</a>
</body>
</html>
