<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Candidature Refusee</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; padding: 20px;">
<img src="cid:logo" alt="Logo" width="300" />
<p style="color: #0e3b75;">Bonjour ${CANDIDAT},</p>
<p>Nous regrettons de vous informer que votre candidature pour le poste de ${POSTE} a ete refusee.</p>
<p>Nous vous remercions pour l'interêt que vous avez porte à notre entreprise.</p>
<p>Cordialement,</p>
<p>L equipe de recrutement</p>
<a href="https://www.optirh.tn"
   style="background-color: #0e3b75; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">
  Visitez notre site
</a>
</body>
</html>
