# Maven target directory
/target/

# IDE files
.idea/
*.iml
*.class

# VSCode
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Java binary files
*.class
*.jar
*.war
*.ear